.detallePokemon{
    display: grid;
    width: 90vw;
    padding: 20px;
    margin-left: 3vw; 
    margin-top: 16vh;
    z-index: 2;
  
  }

  .datos{
    border: 1px solid black;
    border-radius: 10px;
    position: fixed;
    background-color: white;
    z-index: 2;
    
  }

  .ataques{
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 25%;
    padding: 1%;
  }

  .taparAtaques{
    background-color: white;
    width: 100%;
    left: 0;
    height: 60vh;
    position: fixed;
    top:0;
    z-index: 1;
  }

  .imagen img{
    width: 17vw;
    height: 35vh;
    grid-area: imagen;
  }

  .nombre{
    font-weight: bold;
    font-size: 250%;
    text-align: center;
    grid-area: nombre;
  }

  .miniDatos{
    grid-area: miniDatos;
  }

  .descripcionPokemon{
    grid-area: descripcion;
  }

  .datos{
    height: 40vh;
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 33% 1fr 1fr;
    grid-template-areas:  "imagen nombre"
                          "imagen miniDatos"
                          "imagen descripcion";
  }
 